.jumbotron
{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100%;
}
.card-title{
    font-size:16px;
    font-weight:400;
    color:#484848;
    line-height:1.35em;
    height:34px;
}
.product-price{
    color:#414141;
    font-weight:700px;
    font-size:17px;
}
#product-details h1{
    font-size:20px;
    font-weight:17px;
}
.description {
    font-size: 12px;
    height: 40px;
}
main > .container {
    padding: 60px 15px 0;
}
#write-review{
    margin-left: -35px;
    
}
#product-price{
    font-size: 28px;
    color: red;
}